* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* General fonts */

.main-title {
  background: linear-gradient(to bottom, #5851db 0%, #833ab44d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-title {
  color: #111827;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}

.description {
  color: #4b5563;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.link {
  color: #405de6;
  text-decoration: none;
}

/* Links on hover */

.link:hover {
  color: #3350e4;
}

/* Header styles */

.header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.nav-menu-list {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-item {
  list-style-type: none;
  margin: 0 20px;
}

.nav-menu-link {
  color: #111827;
  font-size: 18px;
  padding: 10px 0px;
  text-decoration: none;
}

/* Menu links on hover */

.nav-menu-link:hover {
  border-bottom: 2px solid #111827;
}

/* All sections styles */

.section {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

.section-content-container {
  max-width: 1200px;
  width: 100%;
}

/* Hero section styles */

.hero-section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0 40px;
}

.hero-section-secondary-text-container {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.hero-section-secondary-text {
  margin-left: 5px;
}

.hero-section-main-text {
  color: #111827;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
}

/* About section styles */

.about-section-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-text-container {
  margin-bottom: 60px;
  width: 50%;
}

.about-description {
  margin-bottom: 60px;
}

.cta {
  background-color: #405de6;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  padding: 12px 32px;
  text-decoration: none;
}

/* CTA on hover */

.cta:hover {
  background-color: #3350e4;
}

.about-image-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.about-image-container img {
  border-radius: 20px;
  max-width: 100%;
}

/* Projects section styles */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 40px;
  width: calc(100% / 3 - (20px * 2));
}

.project-icon {
  font-size: 36px;
  margin-bottom: 5px;
}

.project-name {
  color: #111827;
  font-size: 24px;
  margin-bottom: 20px;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.fab.fa-github {
  color: #111827;
  font-size: 24px;
}

.fab.fa-github:hover {
  color: #405de6;
}
